@import './singolo1.css';

.portfolio {
    background-color: #2d303a;
    color: #4f5569;
    height: 869px;
}

.portfolio h2 {
    
    color: #666d89;
    font-family: "Lato";
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.portfolio-text {
    font-family: Lato;
    font-size: 18px;
    color: rgba(118, 126, 158, 255);
    font-weight: lighter;
    text-align: left;
}

.portfolio-buttons button {
    color: rgba(118, 126, 158, 255);
    border: 1px solid rgba(118, 126, 158, 255);
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 7px;
    margin-right: 10px;
}

.portfolio-buttons>button:hover {
    color: white;
    border: 1px solid white;
}

.plates {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.plate {
    width: 224px;
    height: 190px;
    margin-top: 17px;
}

.divider {
    height: 6px;
}

.about-us {
    height: 734px;
    background-color: white;
    color: rgba(118, 126, 158, 255);
}

.about-us h2 {
    color: #666d89;
    font-family: "Lato";
    font-weight: bold;
    font-size: 30px;
}

.about-us_text {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 303px;
    height: 443px;
}

.card h3 {
    font-size: 18px;
}