@font-face {
    font-family: "Lato";
    src: url("./assets/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("./assets/Lato-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/Lato-Bold.ttf");
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #191919;
    font-family: "Lato";
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.logo-star {
    color: #e36861;
    font-size: 20px;
    font-weight: bold;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
    background: #2d2f3b;
}

.sticky {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
    background: rgba(45, 47, 59, 0.85);
    position: sticky;
    top: 0;
}

.header {
    display: flex;
    height: 89px;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    padding-top: 9px;
    padding-right: 2px;
}

.logo {
    height: 20px;
    padding-bottom: 40px;
}

.menu {
    display: flex;
    width: 370px;
    font-size: 11px;
    list-style: none;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.top-link {
    height: 90%;
    line-height: 7;
    color: white;
    text-decoration: none;
}

.top-link::before {
    content: '·';
    color: #ffffff30;
    margin-right: 17px;
}

.top-link:hover {
    color: #e36861;
}

.menu li:first-child a::before {
    content: '';
    margin-right: 0;
}

.menu:hover {
    cursor: pointer;
}

.active {
    color: #e36861;
}

.line-top {
    background-color: #2d2f3b;
    height: 6px;
    width: 1020px;
    margin: 0 auto;
}

.line {
    background-color: #323746;
    height: 6px;
    width: 1020px;
    margin: 0 auto;
}

.main {
    height: 600px;
    background-color: #e36861;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.left-arr {
    position: absolute;
    top: 50%;
    left: 1%;
}

.right-arr {
    position: absolute;
    top: 49%;
    right: 1%;
}

.left-arr:hover,
.right-arr:hover {
    cursor: pointer;
    margin-bottom: 10px;
}

.horizontal_phone {
    margin-right: -16px;
    margin-top: -7px;
}

.slide-blue {
    background-color: #648BF0;
    left: 217px;
}

.services {
    height: 500px;
    background-color: #f2f2f2;
    color: #666d89;
    border-bottom: solid 6px #f2f2f2;
}

.services_title {
    padding-top: 61px;
    letter-spacing: 1.1px;
    font-weight: bold;
    font-size: 28px;
    color: rgba(102, 109, 137, 255);
}

.service_text {
    margin-top: 16px;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(118, 126, 158, 255);
    line-height: 1.8;
    width: 100%;
    text-align: justify;
}

.service_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 44px;
    width: 957px;
}

.service_item {
    display: flex;
    max-width: 299px;
    margin-right: 20px;
    text-align: justify;
    max-height: 84px;
    margin-bottom: 38px;
    line-height: 1.4;
}

.combo-text {
    overflow: hidden;
}

.service-img {
    width: 78px;
}

.service_item img {
    margin-right: 20px;
}

.service_item .title {
    font-size: 18px;
    font-weight: bold;
    margin-top: -4px;
    margin-bottom: 5px;
    padding-left: 1px;
}

.service_list .service_item:nth-child(3n) p {
    padding-left: 5px;
}

.service_item .text {
    font-size: 12px;
    line-height: 1.8;
    font-weight: bold;
}

.portfolio {
    background-color: #2d303a;
    color: #4f5569;
    height: 869px;
}

.portfolio h2 {
    color: #666d89;
    font-family: "Lato";
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-top: 59px;
}

.portfolio-text {
    font-family: Lato;
    font-size: 18px;
    color: rgba(118, 126, 158, 255);
    font-weight: lighter;
    text-align: left;
    margin-top: 22px;
}

.portfolio-buttons {
    padding-top: 10px;
}

.portfolio-buttons button {
    color: rgba(118, 126, 158, 255);
    border: 1px solid rgba(118, 126, 158, 255);
    border-radius: 5px;
    background-color: transparent;
    padding: 3px 5px 4px;
    margin-right: 9px;
    margin-top: 3px;
    outline: none;
}

.portfolio-buttons>button:hover {
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.plates {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 942px;
    height: 618px;
    margin-top: 2px;
}

.plates img {
    width: 222px;
    height: 187px;
}

.plate {
    width: 224px;
    height: 190px;
    margin-top: 17px;
}

.active-border {
    border: #F06C64 solid 5px;
}

.about-us {
    height: 734px;
    background-color: white;
    color: rgba(118, 126, 158, 255);
    font-size: 31px;
    padding-top: 58px;
}

.about-us h2 {
    color: #666d89;
    font-family: "Lato";
    font-weight: bold;
    font-size: 31px;
}

.about-us_text {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    padding-top: 18px;
    width: 100%;
    text-align: justify;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
}

.card {
    width: 304px;
    height: 443px;
    margin-left: -1px;
    text-align: justify;
}

.photo img {
    width: 300px;
    height: 302px;
}

.card:nth-child(2) {
    width: 305px;
}

.card:last-child {
    width: 301px;
}

.card h3 {
    font-size: 18px;
    margin-top: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    margin-top: 9px;
    letter-spacing: 0.3px;
}

.icons {
    margin-top: 20px;
}

.icon:hover img {
    background-color: #e36861;
    border-radius: 50%;
}

.last-part {
    height: 653px;
    background-color: #f06c64;
    color: #f0d8d9;
}

.last-part h2 {
    margin-bottom: 18px;
    padding-top: 58px;
    font-size: 30px;
}

.last-part>p {
    line-height: 1.9;
    font-family: "Lato";
    text-align: left;
    letter-spacing: 0.8px;
    text-align: justify;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}

.form form {
    width: 619px;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #f48c8f;
    opacity: 1;
}

.form input {
    width: 100%;
    padding: 12px 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
    margin-bottom: 16px;
    outline: none;
}

.form textarea {
    height: 202px;
    width: 100%;
    padding: 11px 15px 13px 14px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
    margin-bottom: 16px;
    resize: none;
    outline: none;
}

.contact-info {
    width: 300px;
}

.contact-info h4 {
    letter-spacing: 1.2px;
    margin-top: 1px;
}

.form-text {
    font-size: 12px;
    color: rgba(240, 216, 217, 255);
    line-height: 1.9;
    margin-top: 9px;
}

.submit-button {
    margin-top: 128px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    background-color: #f0d8d9;
    color: #666d89;
    font-weight: bold;
    font-family: 'Lato';
}

.form-address {
    font-size: 12px;
    margin-top: 22px;
}

.form-address a {
    text-decoration: none;
    line-height: 1.8;
    color: rgba(240, 216, 217, 255);
    letter-spacing: 1.2px;
}

.form-address img {
    margin-right: 11px;
}

.footer {
    height: 76px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    color: #666d89;
    margin-top: 22px;
}

.footer-info div:first-child {
    margin-top: -4px;
}

.footer-info p {
    line-height: 2.1;
    font-size: 12px;
}

.bottom {
    margin-top: -5px;
}

.bottom a {
    margin-left: 3px;
}

.line {
    height: 6px;
    margin-left: -40px;
}

#message-block {
    position: fixed;
    height: 100vh;
    width: 99vw;
    top: 0;
    left: 0;
    background-color: #0007;
}

#message-block.hidden {
    display: none;
}

#message {
    position: absolute;
    width: 300px;
    top: 50%;
    left: calc(50% - 150px);
    border: #191919 solid 5px;
    text-align: center;
    background-color: #f06c64;
    color: #191919;
}

button.active-white {
    color: white;
    border: 1px solid whitesmoke;
}

div.hidden {
    display: none;
}

.black-left {
    display: block;
    width: 189px;
    height: 333px;
    position: absolute;
    background-color: black;
    top: 80px;
    left: 92px;
    border-radius: 2px;
}

.black-right {
    display: block;
    width: 333px;
    height: 189px;
    position: absolute;
    background-color: black;
    top: 147px;
    right: 152px;
    border-radius: 2px;
}

.carousel {
    position: relative;
    width: 100%;
}

.item {
    display: none;
    position: relative;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
}

.item-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 516px;
}

.current,
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%
    }
}

@keyframes right {
    from {
        left: 100%
    }
    to {
        left: 0;
    }
}